* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-family: 'Bebas Neue', cursive;
  }
h3 {
  font-weight: 100;
}
.searchbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 1;
  background: rgb(0,3,3);
  background: linear-gradient(180deg, rgba(0,3,3,1) 0%, rgba(4,4,4,1) 0%, rgba(0,0,0,1) 0%, rgba(18,6,6,0) 100%);
}

.backgroundBox {
  width:80%;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.wrapper__panel {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
}

.wrapper__panel:hover {
  filter: none;
}


/* css transitions */

.update-enter {
  opacity: 0;
  transform: scale(1);
  transform: translateX(100px);
}
.update-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 330ms, transform 330ms;
}
.update-exit {
  opacity: 1;
}
.update-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 330ms, transform 330ms;
}

li.menu-bottom:hover {
  transform: scale(1.1);
  transition: transform 330ms;
}

.hide {
  opacity: 0;
  transform: translateX(-220px);
  transition: opacity 400ms, transform 330ms;
}
.show {
  opacity: 1;
  transform: translateX(10px);
  transition: opacity 400ms, transform 430ms;;
}